<!DOCTYPE html>
<html lang="en">

<head>
  <script defer src="/script.js"></script>
  <%-include("partials/header.ejs")-%>
  <title>Movies</title>
</head>

<body>

  <%-include("partials/nav")-%>
  <main>

    <section class="hero-section">
      <div style='display: flex' class="hero-section__container container">
        <%movies.forEach(movie => {%>
        <%movie.results.forEach(mov => {%>
        <div class="hero-section__box">
          <div class="hero-section__content">
            <div class="hero-section__genre">
            </div>
            <h1 class="primary-heading u-margin-bottom-sm"><%=mov.title ? mov.title : mov.name%></h1>
            <div class="hero-section__movie-info u-margin-bottom-sm">
              <p class="tertiary-text"><span>Rating: </span><span><%=Math.trunc(mov.vote_average)%>/10</span></p>
              <p class="tertiary-text"><span>Release date:
                </span><span><%=mov.release_date ? mov.release_date : mov.first_air_date%></span></p>
            </div>
            <%const movieType = mov.title ? "movie" :"tv"%>
            <a class="primary-btn" href="/<%=movieType%>/<%=mov.id%>"> Details</a>
          </div>

          <div class="hero-section__img-box">
            <div data-poster="https://image.tmdb.org/t/p/original<%=mov.backdrop_path%>" class="hero-section__img lazy-img">
            </div>  
          </div>
        </div>
        <%})%>
        <%})%>
      </div>
    </section>
    <section class="trending-movies">
      <h3 class="tertiary-heading container u-margin-bottom-sm">Trending Movies</h3>
      <div class="trending-movies__container container">
        <%trendingMovies[0].results.forEach(movie => {%>
        <%if(movie.poster_path){%>
        <figure class="card__box trending-movies__card">
          <div class="card__img-box">
            <a href="/movie/<%=movie.id%>"> <img class="card__img trending-movies__img lazy-img"
                data-src="https://image.tmdb.org/t/p/w300/<%=movie.poster_path%>"  
                data-placeholder-background="#f8f9fa" 
                alt="<%=movie.title%>"></a>
            <span class="card__rating"><%=Math.trunc(movie.vote_average)%>/10</span>
          </div>
          <figcaption class="card__text-box">
            <p class="card__text"><%=movie.title.slice(0,40).padEnd(movie.title.length," .")%></p>
          </figcaption>
        </figure>
        <%}%>
              <%})%>

      </div>
    </section>
    <section class="trending-movies">
      <h3 class="tertiary-heading container u-margin-bottom-sm">Trending Series</h3>
      <div class="trending-movies__container container">
        <%trendingSeries[0].results.forEach(movie => {%>
        <%if(movie.poster_path){%>
        <figure class="card__box trending-movies__card">
          <div class="card__img-box">
            <a href="/tv/<%=movie.id%>"> <img  class="card__img trending-movies__img lazy-img"
                data-src="https://image.tmdb.org/t/p/w220_and_h330_face/<%=movie.poster_path%>"
                data-placeholder-background="#f8f9fa" 
                alt="<%=movie.name%>"></a>
            <span class="card__rating"><%=Math.trunc(movie.vote_average)%>/10</span>
          </div>
          <figcaption class="card__text-box">
            <p class="card__text"><%=movie.name.slice(0,40).padEnd(movie.name.length," .")%></p>
          </figcaption>
        </figure>
        <%}%>
              <%})%>

      </div>
    </section>

  </main>

  <%-include("partials/footer")-%>
</body>

</html>