<!DOCTYPE html>
<html lang="en">


<head>
  <script defer src="/script.js"></script>
  <%-include("partials/header")-%>
  <title><%=foundMovie.title ? foundMovie.title : foundMovie.name%></title>
</head>

<body>
  <%-include("partials/nav")-%>
  <section class="movie-section">
    <div class="movie-section__img-box">
      <img class="movie-section__img lazy-img"
        src="https://image.tmdb.org/t/p/original/<%=foundMovie.backdrop_path ? foundMovie.backdrop_path : foundMovie.poster_path%>"
        alt="<%=foundMovie.title ? foundMovie.title : foundMovie.name%>" /> </div>
    <div class="movie-section__movie-info">
      <div class="movie-section__container">
        <p class="movie-section__tagline"><%=foundMovie.tagline%></p>
        <h1 class="primary-heading"><%=foundMovie.title ? foundMovie.title : foundMovie.name%></h1>
        <div class="movie-section__genre">
          <%foundMovie.genres.forEach(genre => {%>
          <span><%=genre.name%></span>
          <%})%>
        </div>

        <p class="movie-section__overview"><%=foundMovie.overview%></p>
        <%if(foundMovie.homepage){%>
        <%const domainName = new URL(foundMovie.homepage).hostname.replace("www.","").replace(".com","")%>
        <div class="movie-section__link-btn">
          <a class="primary-btn u-link" href=<%=foundMovie.homepage%>>Available on
            <%=domainName.slice(0,8).padEnd(8,"...")%></a>
          <%const yt = foundMovie.videos.results.find(el => el.type === "Trailer")%>
          <%if(yt){%>
          <button class="movie-section__link-trailer secondary-btn u-btn">
            <ion-icon class-section="icon" name="play-outline"></ion-icon><span>Watch Trailer</span>
          </button>
          <%}%>
        </div>
        <div class="movie-section__other-info">
          <p><span>Release date:</span>
            <span><%=foundMovie.release_date ? foundMovie.release_date : foundMovie.first_air_date%></span></p>
          <%if(foundMovie.revenue || foundMovie.number_of_seasons){%>
          <p><span><%=foundMovie.revenue ? "Box office" : "No of seasons"%>: </span>
            <span><%=foundMovie.revenue ? `$${foundMovie.revenue}` : foundMovie.number_of_seasons%></span></p>
          <%}%>
          <%if(foundMovie.runtime || foundMovie?.episode_run_time){%>
          <p><span>Runtime:</span>
            <span><%=foundMovie.runtime ? foundMovie.runtime : foundMovie?.episode_run_time[0]%>min</span></p>
          <%}%>
          <p><span>Status:</span>
            <span><%=foundMovie.status%></span></p>
        </div>
        <%}%>
        </div>
      </div>
  </section>
  <%const yt = foundMovie.videos.results.find(el => el.type === "Trailer")%>
        <%if(yt){%>
        <div class="movie-section__trailer-container">
          <div class="movie-section__trailer-box">
            <iframe allowfullscreen="true" class="movie-section__trailer"
              src="https://www.youtube.com/embed/<%=yt.key%>"
              title="<%=foundMovie.title ? foundMovie.title : foundMovie.name%> Trailer"></iframe>
            <button class="movie-section__trailer-close-box">
              <ion-icon class="movie-section__trailer-close" name="close-outline"></ion-icon>
            </button>
          </div>
        </div>
        <%}%>
  <%if(foundMovie.credits.cast.length === 1 && !foundMovie.credits.cast[0].profile_path){%>
        <%}else {%>
        <section class="card--primary">
          <h3 class="tertiary-heading container u-margin-bottom-sm">Casts</h3>
          <div class="card--primary__container container">
            <%foundMovie.credits.cast.forEach(cast => {%>
            <%if(cast.profile_path){%>
            <figure class="card__box card--primary__card">
              <div class="card__img-box">
                <a href="https://en.wikipedia.org/wiki/<%=cast.name%>" target="__blank">
                  <img class="card__img card--primary__img lazy-img"
                    data-src="https://image.tmdb.org/t/p/w300/<%=cast.profile_path%>" alt="<%=cast.name%>"></a>
              </div>
              <figcaption class="card__text-box">
                <p class="card__text"><%=cast.name%></p>
              </figcaption>
            </figure>
            <%}%>
              <%})%>

          </div>
        </section>
        <%}%>

  <%if(similarMovies.results.length !== 0){%>
        <section class="similar-section">
          <h3 class="tertiary-heading container u-margin-bottom-sm">More movies </h3>
          <div class="card container">
            <%similarMovies.results.forEach(movie => {%>
            <%if(movie.poster_path){%>
            <figure class="card__box">
              <div class="card__img-box">
                <a href="/<%=movieType%>/<%=movie.id%>"> <img class="card__img lazy-img"
                    data-src="https://image.tmdb.org/t/p/w300/<%=movie.poster_path%>"
                    alt="<%=movie.name ? movie.name : movie.title%>"></a>
                <span class="card__rating"><%=Math.trunc(movie.vote_average)%>/10</span>
              </div>
              <figcaption class="card__text-box">
                <p class="card__text"><%=movie.name ? movie.name : movie.title%></p>
              </figcaption>
            </figure>
            <%}%>
  <%})%>
          </div>
        </section>
        <%}%>
  <div class="overlay">
    &nbsp;
  </div>
  <%-include("partials/footer.ejs")-%>
</body>

</html>
